[Unit]
Description=Logitech gaming keyboard extended keys redirector

[Service]
ExecStart=/usr/bin/python3.9 -m gkeys
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
